.jet-apb-workflow {
	&__item {
		margin: 0 0 30px;
		border: 2px solid #ECECEC;
		border-radius: 4px;
		&-header {
			display: flex;
			justify-content: flex-end;
			padding: 5px 20px 0;
		}
		&-remove {
			padding: 5px;
			cursor: pointer;
			&-wrap {
				position: relative;
				.cx-vui-tooltip {
					width: 120px;
					box-sizing: border-box;
					left: 50%;
					margin-left: -60px;
					span {
						cursor: pointer;
					}
				}
			}
			svg {
				path {
					fill: #C92C2C;
				}
			}
		}
		.cx-vui-component {
			padding-top: 15px;
			padding-bottom: 10px;
		}
		.cx-vui-repeater-item__heading {
			padding-top: 14px;
			padding-bottom: 12px;
		}
		.cx-vui-inner-panel {
			padding: 20px;
		}
		.cx-vui-panel {
			margin-bottom: 20px;
		}
	}
}

.cx-vui-component {
	&.cx-vui-component--raw-fullwidth {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
}