.jet-apb-schedule-settings{
	.cx-vui-component{
		padding: 15px 0;
	}
	.cx-vui-popup {
		.cx-vui-popup__body .cx-vui-popup__header {
			margin-bottom: 0;
		}
	}
	.jet-apb-day-custom-schedule {
		> .cx-vui-component__meta {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			padding: 0;
			margin: 0 0 5px;
			border: none;
			.cx-vui-component__label {
				padding: 0;
			}
		}
		.jet-apb-custom-day {
			&__slot {
				display: flex;
				justify-content: space-between;
				padding: 5px 6px 5px 0;
				&-time {
					display: flex;
					align-items: center;
					> span {
						padding: 0 10px;
					}
				}
			}
		}
	}
	.jet-apb-working-hours {
		display: flex;
		justify-content: space-between;
		padding: 25px 0 10px;

		&__columns{
			max-width: calc( 50% - 20px );
			flex: 0 0 calc( 50% - 20px );
		}

		&__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0 20px;
			min-height: 32px;
		}
		&__body{
			margin-bottom: 35px;
		}

		&__paired-controls {
			.cx-vui-component__control{
				display: flex;

				.cx-vui-component{
					padding: 0;
					border-top: none;
					flex-direction: column;
					&:first-child{
						margin-right: 20px;
					}
				}
			}
		}
		&__multi_booking{
			.cx-vui-component{
				flex-direction: column;
				>div{
					max-width: 100%;
					flex: 0 1 100%;
				}
			}
		}

		&__slot-actions{
			display: flex;
			align-items: center;
			 .dashicons-edit{
				margin: 0 5px 0 0;
				cursor: pointer;
				&:hover {
					color: #23282d;
				}
			}
			 .dashicons-trash {
				cursor: pointer;
				color: #C92C2C;
				&:hover {
					color: #23282d;
				}
			}
			.cx-vui-tooltip {
				left: 50%;
				width: 110px;
				box-sizing: border-box;
				margin-left: -55px;
				& span {
					cursor: pointer;
				}
			}
		}
		.cx-vui-popup{
			.cx-vui-popup__content{
				.cx-vui-component{
					padding: 20px 0;
				}
			}
		}
	}

	.jet-apb-week-day{
		margin: 0 0 20px;
		border: 2px solid #ECECEC;
		border-radius: 4px;
		padding: 10px 10px 10px 15px;

		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__head-name {
			font-size: 15px;
			line-height: 20px;
			color: #23282d;
			font-weight: 500;
		}
		&__slot {
			padding: 9px 0 0 0;
			margin: 10px 0 0 0;
			color: #7B7E81;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid #ECECEC;
		}
		&__slot-name {
			line-height: 20px;
		}
	}

	.jet-apb-days-schedule{
		&__slot {
			border: 2px solid #ECECEC;
			border-radius: 4px;
			padding: 15px;
			color: #7B7E81;
			font-size: 15px;
			margin: 0 0 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.cx-vui-collapse:first-child{
			.cx-vui-collapse__heading{
				padding-top: 0;
			}
		}
		.cx-vui-collapse__content .cx-vui-panel{
			box-shadow: none;
		}
		.cx-vui-button {
			white-space: nowrap;
		}
	}
}

.wp-admin select.cx-vui-select {
	padding-right: 24px;
}